.img-width {
   width: 60px !important;
   height: 65px !important;
}

.review-card {
   width: 93%;
   box-shadow: 1px !important;
}

@media only screen and (min-width:280px) and (max-width:575px) {

   .review-card {
      width: 90%;
   }

}