.nav-bg {
   background-color: #002a46;
}

.path:hover {
   color: wheat;
   color: rgb(183, 234, 234);
}

.log-in {
   font-size: 18px !important;
}

.log-in:hover {
   color: rgb(79, 200, 200) !important;
}

.nav-link:hover {
   color: rgb(137, 233, 233) !important;
   font-size: 16px;
   font-weight: bold;
}

.hi-header {
   color: rgba(47, 255, 85, 0.793) !important;
}

.log-out:hover {
   color: rgb(253, 117, 68) !important;
}