.nav-bg {
   background-color: #002a46;
}

.path:hover {
   color: wheat;
   color: rgb(183, 234, 234);
}

.log-in {
   font-size: 18px !important;
}

.log-in:hover {
   color: rgb(137, 233, 233) !important;
}

.nav-link:hover {
   font-size: 17px;
   font-weight: bold;
}