.w-discover {
   width: 87% !important;
}

.w-header {
   width: 60% !important;
}

.w-info {
   width: 70% !important;
}

.view-all {
   margin-top: 0px !important;
}

.header {
   width: 95%;
   margin-bottom: 120px !important;
}

.lottie {
   width: 50% !important;
   margin-top: 75px;
}


@media only screen and (min-width:280px) and (max-width:575px) {

   .header {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      margin-bottom: 80px !important;
   }

   .w-header {
      width: 75% !important;
   }

   .lottie {
      width: 75% !important;
      margin-top: 20px !important;
   }

   .w-discover {
      width: 90% !important;
   }

   .w-info {
      width: 100% !important;
   }

   .fs-mob {
      font-size: 21px;
   }

   .view-all {
      margin-top: -10px !important;
   }
}